{{extend 'layout.html'}}

{{block head}}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
  var sign_up_user_url = "{{=URL('api', 'sign_up_user')}}";
  var get_users_url = "{{=URL('api', 'get_users')}}";
  var delete_message_url = "{{=URL('api','delete_message')}}";
</script>
<script src="{{=URL('static', 'js/dropzone.js')}}"></script>
{{end}}

<div class="main_content">
  <div id="vue-div" class="display:none">
    <div class="header_style">
    <nav class="navbar navbar-expand-lg bg-light navbar-light">
      <!-- <img src="../static/images/favicon2.ico" style="height:30" alt="favico here"> -->
      <a class="navbar-brand" href="#" v-on:click="hom()">
      <i class="fa fa-home fa-lg">Home</i></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link mr-auto" href="#" v-on:click="exp()">
            <i class="fa fa-laptop fa-lg"></i>Experience</a>
          <a class="nav-item nav-link" href="#" v-on:click="edu()">
            <i class="fa fa-book fa-lg"></i>Education</a>
          <a class="nav-item nav-link" href="#" v-on:click="cont()">
            <i class="fa fa-phone fa-lg"></i>Contact</a>
          <!-- <a class="nav-item nav-link" href="https://resume.com/share/arturosresume1234" v-on:click="cont()">
            <i class="fa fa-list fa-lg"></i>Resume</a> -->
        </div>
      </div>
    </nav>
  </div>

    <div class="" v-if="home" >
      <div class="text-center" style="padding:40px">
        <h3>Hello, my name is Arturo Lopez. I am Designer and Developer living in the Bay Area, CA.</h3>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSSz2YOs3RUnw0Vy7HydfU69_PxRsBq9FS2QsmsxnJ6JoStL1eJA"
         alt="image here" class="round_image">
      </div>
      <div class="padding">
        <h4 style="color:#696969">About:</h4>
        <p>I am currently an undergrad student at UC Santa Cruz, where I will be getting my
          Computer Science degree and minor in Stats. I have passion for web development and front end design.
          You can find me on <a href="https://www.linkedin.com/in/arturo-lopez-936497158">LinkedIn</a>,
           or check out my source code on <a href="https://github.com/alopez96">GitHub</a>
           and <a href="https://bitbucket.org/arturolopez12/">Bitbucket</a>.
          I enjoy taking on new projects and learning new technologies.
        </p>
        <h4 style="color:#696969">Services:</h4>
        <h6 style="color:#3385ff">Web Development</h6>
        <p>
          My work entails full stack web development (front and backend), and
          most of my projects have been with Web2py, VueJS, Python, Bootsrap, CSS.
          I am comfortable with learning new platforms and libraries, and am currently
          working on developing with Django and ReactJS.
        </p>
        <h6 style="color:#3385ff">Android Development</h6>
        <p>I began learning mobile development with android apps, and am currently
          working with exposing myself to iOS as well. My next projects will require the
          use of React Native and Cordova, which will allow me to deploy my apps on
          both Google Play Store and Apple's App Store.</p>
        </div>
        <hr>
        <div class="text-center">
          <h4>If you are interested in doing a project with me, message me </h4>
          <address>
            <a class="blue_button btn" href="mailto:abc@gmail.com">Email Me</a><br>
          </address>

        </div>
    </div>


    <div class="" v-if="experience">
      <br />
      <div class="text-center">
        <h2>Experience</h2>
        <h5>Check out some of the work I have done.</h5>
      </div>
        <div class="container jumbotron">
          <div class="card-deck">
            <div class="card" style="padding:20px">
              <h4 class="card-title" style="color:#3385ff">Pick Up Soccer</h4>
                <a class="card-img-top" href="http://socer-a512d.appspot.com/soccer">
                  <img border="0" alt="image load error" src="https://i.imgur.com/Y91bp8q.png" >
                </a>
              <br />
              <div class="card-body">
                <h6 class="card-text">
                  Want to play a quick soccer game, or set up a tournament for a weekend?
                  Have fun, be active, and meet new people!
                </h6>
                <hr />
                <h6>
                This website used Web2py as framework, Python for writing backend server,
                VueJS for front end management, and HTML, CSS, and bootstrap
                for styling. The chat was created using realtime database from Firebase to get instant messages.
              </h6>
              </div>
            </div>
            <div class="card" style="padding:20px">
              <h4 class="card-title" style="color:#3385ff">Game Up</h4>
              <a class="card-img-top text-center" href="#">
                <img border="0" alt="image load error" src="https://i.imgur.com/bFV1JHx.png" width="300" height="400" >
              </a>
              <br />
              <div class="card-body">
                <h6 class="card-text">
                  Connect with (video) gamers around your area, or a different town.
                  Communicate with them, and create events, join others events, and follow friends.
                  Customize your profile to let people know what your interests.
                  Happy Gaming!
                </h6>
                <hr />
                <h6>
                This Android App was developed using Android Studio, Java, and
                Firebase Database to manage information.
              </h6>
              </div>
            </div>
          </div>
        </div>

    </div>

    <div class="" v-if="education">
      <br />
      <div class="text-center">
        <h2>Education</h2>
        <h5>I am an undergrad student constantly looking to get involved in activities that go beyond classroom learning.</h5>
      </div>
        <div class="container jumbotron">
          <h2>Computer Science BS</h2>
          <p class="lead">
            I have a Mathematics associates degree from Santa Rosa Junior College, and
            I will have my Computer Science Bachelor's in fall 2019, from UC
            Santa Cruz.
            <ul class="list-group">
              <li class="list-group-item" data-toggle="collapse" href="#collapse1"
                role="button" aria-expanded="false" aria-controls="collapse1">Relavant Courses</li>
                <div class="collapse" id="collapse1">
                  <div class="card card-body">
                    <ul class="list-group">
                      <li list-group-item>Algorithm Analysis</li>
                      <li list-group-item>Computer Architecture</li>
                      <li list-group-item>Web Development</li>
                      <li list-group-item>Mobile Applications</li>
                      <li list-group-item>ADT programming</li>
                      <li list-group-item>Assembly Language</li>
                      <li list-group-item>UNIX/ Linux</li>
                    </ul>
                  </div>
                </div>
              <li class="list-group-item" data-toggle="collapse" href="#collapse2"
                role="button" aria-expanded="false" aria-controls="collapse2">Programs</li>
                <div class="collapse" id="collapse2">
                  <div class="card card-body">
                    <ul class="list-group">
                      <li list-group-item>Society of Hispanic Professional Engineers (SHPE)
                        <p>SHPE’s mission is to change lives by empowering the Hispanic
                        community to realize its fullest potential and to impact the world
                        through STEM awareness, access, support and development, which advances
                        their vision of a world where Hispanics are highly valued and influential as the
                        leading innovators, scientists, mathematicians and engineers.</p>
                      <a href="http://www.shpe.org/">Visit SHPE</a> </li>
                      <li list-group-item>MESA Engineering Achievement (MEP)
                        <p>MESA provides educationally and economically disadvantaged
                        students and their families with the essential skills and resources
                        to achieve success in school, career, life, and STEM-related disciplines.</p>
                      <a href="https://mep.soe.ucsc.edu/">Visit MEP</a></li>
                    </ul>
                  </div>
                </div>
              <li class="list-group-item" data-toggle="collapse" href="#collapse3"
                role="button" aria-expanded="false" aria-controls="collapse3">Extra cirricular</li>
                <div class="collapse" id="collapse3">
                  <div class="card card-body">
                    UC Santa Cruz Rotaract Club
                    <p>A service, leadership, professional and community
                      service organization (often miscommunicated as a Social Service Club)
                      for young men and women between the ages 18–30.
                    </p>
                    <a href="https://www.rotary.org/en/get-involved/rotaract-clubs">Visit Rotaract</a></li>
                </div>
            </ul>
        </p>
      </div>
    </div>

    <div class="text-center" v-if="contact" id="contact">
      <div v-if="!form">
      <br />
      <h2>Contact Me</h2> <br />
      <h2>
        <div class="spacing">
          <a href="https://www.linkedin.com/in/arturo-lopez-936497158" class="fa fa-linkedin fa-lg"></a>
          <a href="https://twitter.com/ArturoL95987525" class="fa fa-twitter fa-lg"></a>
          <a href="https://github.com/alopez96" class="fa fa-github fa-lg"></a>
          <a href="https://bitbucket.org/arturolopez12/" class="fa fa-bitbucket fa-lg"></a>
          <a href="mailto:abc@gmail.com" class="fa fa-envelope fa-lg"></a>
        </div>
      </h2>
      <br />
      <div>
        <form>
          <div class="form-group">
            <label>First and Last Name</label>
            <input type="text" v-model="name" required class="form-control" aria-describedby="emailHelp" placeholder="*requred">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" v-model="email" required class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="*required">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" v-model="phone" class="form-control">
          </div>
          <div class="form-group">
            <label>Company/ Organization</label>
            <input type="text" v-model="org" class="form-control">
          </div>
          <div class="form-group">
            <label>Description</label>
            <input type="text" v-model="reason" class="form-control" placeholder="project details, budget, deadline">
          </div>
          <button type="submit" v-on:click="add_user" href="#" class="btn btn-primary">Submit</button>
        </form>
      </div>
  </div>
    <br />
    <div v-if="form">
    <table class="table">
      <thead class="thead-dark">
      <tr>
        <th></th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Org</th>
        <th>Reason</th>
        <th>Sent on</th>
        <th>id</th>
        <th>_idx</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="user in users">
        <td ><i class="fa"></i></td>
        <td>${user.name}</td>
        <td>${user.email}</td>
        <td>${user.phone_number}</td>
        <td>${user.org}</td>
        <td>${user.reason}</td>
        <td>${user.sent_on}</td>
        <td>${user.id}</td>
        <td>${user._idx}</td>
        <td><button type="button" name="button" class ="btn btn-danger"v-on:click="delete_message(user.id, user._idx)">delete</button> </td>
      </tr>
      </tbody>
    </table>
  </div>



  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>
